{% extends 'base.html'%}
{% load staticfiles %}
{% load humanize %}
{% block content %}
    {% include "object_delete.html" with url_name='cars:product_delete' %}
    <div style="float: right;">
        <div class="btn btn-light">
            <a href="{% url 'cars:products_update' pk=object.id %}">
                <img src="{% static 'img/edit.svg' %}" height="25">
            </a>
        </div>
    </div>
    <h2>{{ object.name }}</h2>
    <a href="{{ object.logo.url }}"><img src="{{ object.logo.url }}" alt="Car preview" height="300px"></a>
    <h2>Description:</h2>
    <h5>{{ object.description }}</h5>
    <h2>Price from {{ object.min_price|intcomma }}$</h2>
    <h2>Specifications:</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for spec in object.specifications.all %}
            <li class="nav-item">
            {% if spec == object.specifications.all.1 %}
                <a class="nav-link active" id="{{ spec.name }}-tab" data-toggle="tab" href="#{{ spec.name }}" role="tab" aria-controls="{{ spec.name }}" aria-selected="true">{{ spec.name }}</a>
            {% elif object.specifications.all|length_is:"1" %}
                <a class="nav-link active" id="{{ spec.name }}-tab" data-toggle="tab" href="#{{ spec.name }}" role="tab" aria-controls="{{ spec.name }}" aria-selected="true">{{ spec.name }}</a>
            {% else %}
                <a class="nav-link" id="{{ spec.name }}-tab" data-toggle="tab" href="#{{ spec.name }}" role="tab" aria-controls="{{ spec.name }}" aria-selected="false">{{ spec.name }}</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
        {% for spec in object.specifications.all %}
            {% if spec == object.specifications.all.1 %}
                <div class="tab-pane fade show active" id="{{ spec.name }}" role="tabpanel" aria-labelledby="{{ spec.name }}-tab">{% include "specification_detail.html" with spec=spec%}</div>
            {% elif object.specifications.all|length_is:"1" %}
                <div class="tab-pane fade show active" id="{{ spec.name }}" role="tabpanel" aria-labelledby="{{ spec.name }}-tab">{% include "specification_detail.html" with spec=spec%}</div>
            {% else %}
                <div class="tab-pane fade" id="{{ spec.name }}" role="tabpanel" aria-labelledby="{{ spec.name }}-tab">{% include "specification_detail.html" with spec=spec %}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content%}