{% extends 'base.html'%}
{% block content %}
    <form class="form-inline my-2 my-lg-0" method="get" action="">
        <input name="car_name" class="form-control mr-sm-2" type="search" placeholder="Search by car name" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div id="exampleAccordion" data-children=".item">
        <div class="item">
            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
                search by specification
            </a>
            <div id="exampleAccordion1" class="collapse" role="tabpanel">
                <p class="mb-3">
                    <form class="form my-2 my-lg-0" method="get" action="">
                        {{ search_form.as_p }}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
    {% for car in object_list %}
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="{{ car.logo.url }}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ car.name }}</h4>
                <p class="card-text">{{ car.description|truncatechars:130 }}</p>
                <a href="{% url 'cars:product_details' pk=car.id %}" class="btn btn-primary">Read more ...</a>
            </div>
        </div><br>
    {% endfor %}
{% endblock content%}